# Ignore ctags file
tags

# Ignore wireshark pcap files
*.pcap


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
sr
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
